<% cache [I18n.locale, current_pricing_options, @product] do %>

<div class="row">
  <div class="col m4">
    <h6 class="text-justify"><%= @product.name %></h6>
    <%= render partial: 'image' %>
    <%= render partial: 'thumbnails' %>
  </div>
  <div class="col m4">
    <%= render partial: 'properties' %>
  </div>
  <div class="col m4">
    <%= render partial: 'cart_form' %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col m12">
    <h5>Descrição</h5 >
    <div class="text-justify">
      <%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
    </div>
  </div>
</div>
<hr/>

  <% @body_id = 'product-details' %>
  <% render partial: 'promotions' %>
  <% render partial: 'taxons' %>
<% end %>
